h1 {/*
    color: #1294f3 !important;*/}

.appbar_black {
    background-color: #2a2a2a !important;
}

.primary_btn {
    background-color: #19191b !important;
}

.menuBtn {
    color: #FFF !important;
    /* flex-grow: 1 !important; */
    margin-left: auto !important;
}